*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Consider from border, not CONTENT BOX which added padding/margin, avoid drop content from Float */
}

body{
    background-color: #222222;
    width: 70%;
    margin: auto; /* margin: auto to keep website in center */
}

#outer_border-radius_bg{
    background-color: #FAF4F2;
}

/* Start header */
.header{
    background-color: #F8E1DB;
    padding: 10px 50px;
}

.header img{
    width: 50px;
}

.header .navigation{
    list-style: none;
    padding: 5px 0;
}

.header ul li{
    display: inline;
    margin-right: 30px;
}

.header ul li a{
    text-decoration: none;
    color: black;
}
/* End header */

/* Start carousel */
.carousel{
    background-image: url(./image/BG.png);
    background-repeat: no-repeat; /* background-repeat: no-repeat; >>> to avoid repeat image if image too small */
    background-size: cover; /* background-size: cover; >>> to ensure the whole image is covered */
    background-position: center; /* background-position: center; >>> to show the center position of image */
    height: 70vh; /* vertical height >>> object take 70% of screen HEIGHT size, not change when zoom in or out */
}
/* End carousel */

/* Start Activities */
.activities{
    text-align: center; /* text-align include image also */
    padding: 80px 0;
    background-color: #FAF4F2;
}

.activities__title p{
    font-weight: bold;
    font-size: 30px;
    color: #848484;
}

.activities__item{
    padding: 15px;
    width: 25%;
    /* border-radius: 16px; */
    /* background-color: white; */
    float: left;
}

.item__container{ /* This contain Image & Desc, need to create this to make padding/space between each objects using Float */
    width: 100%; height: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 16px;
}

.activities__img{
    border-radius: 16px;
    overflow: hidden; /* Hide all part of father that cover son (here the image) border */
    position: relative;
    margin-bottom: 15px;
}

.activities__img img{
    width: 100%; /* Set 100% to set image size fi twith its father size */
    height: 100%;
    display: block; /* Set block to have full radius of bottom */
}

.activities__item .heart{
    position: absolute; /* Its mother is the image with position: relative */
    top: 20px;
    right: 20px;
    width: 40px; height: 40px;
    background-color: rgba(255, 255, 255, 0.7); /* RGBA (Red Green Blue Alpha) will set the background transparent (0.7) while still keep object (here the heart) un-transparent, with color white (255,255,255) */
    border-radius: 14px;
    /* opacity: 0.7; */ /* This will make the heart transparent as well */
}

.activities__item .heart i{
    color: #E66A4A;
    line-height: 40px;
}

.activities__desc h3{
    margin-bottom: 10px;
}

.activities__desc p{
    margin-bottom: 10px;
    width: 80%;
    color: grey;
    text-align: center;
    margin: auto;
}

.activities__desc button{
    margin: 20px 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #8C8C8C;
    background-color: #E8E8E8;
    width: 160px;
    height: 30px;
    border: none;
    border-radius: 18px;
}

.clear_effect{
    clear: both;
}

.view_button{
    margin-top: 30px;
    font-size: 12px;
    color: #E76F51; 
    /* background-color: #FAF4F2; */
    background-color: transparent; /* can set transparent to use mother's color */
    width: 170px;
    padding: 12px 0;
    border-radius: 20px;
    border-width: 1px;
    border-color: #E76F51;
    border-style: solid; /* use this to fix the border's shadow of a button */
}
/* End Activities */

/* Start Contact */
.contact{
    background-color: #F8E1DB;
    color: #8E8D8D;
    max-height: 390px;
    border-radius: 0 12px 12px 0; /* TopLeft TopRight BottomRight BottomLeft */ 
}

.contact__container{
    width: 50%;
    height: 60vh;
    float: left;
}

.contact__img{
    background-image: url(./image/mask.png);
    background-position-x: 45%;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
}

.contact__img img{
    position: absolute;
    left: 40px;
}

.contact__info{
    padding: 60px 20px 10px 40px;
}

.contact__text h1{
    padding-bottom: 10px;
}

.contact__text,.contact__method h3,p{
    padding-bottom: 20px;
}

.contact__method{
    width: 50%;
    float: left;
}

.contact__app,.contact__follow{
    float: left;
}

.contact__follow{
    width: 12%;
}

.contact__follow .facebook,.youtube,.instagram,.pinterest{
    color: #E66C4E;
    font-size: 25px;
}

.contact__app img{
    width: 100%;
}
/* End Contact */
.spacetofooter{
    background-color: #FAF4F2;
    height: 100px;
}
/* Start Footer */
.footer{
    background-color: #F8E1DB;
    height: 450px;
    border-radius: 80px 80px 0 0;
}

.footer__info{
    padding: 0 20px 0 40px;
}   

.footer__info h3{
    padding: 80px 0 30px 0;
}

.footer__info .overall{
    float: left;
    width: 40%;
}

.footer__info .content1,.content2,.content3{
    float: left;
    width: 20%;
} 

.footer__info ul{
    list-style: none;
}

.footer__info p{
    line-height: 25px;
}

.footer__info ul li,p{
    padding: 5px 0;
}

.copyright{
    margin-top: 30px;
    text-align: center;
}
/* End Footer */
